In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/new-york-city-taxi-fare-prediction/sample_submission.csv
/kaggle/input/new-york-city-taxi-fare-prediction/GCP-Coupons-Instructions.rtf
/kaggle/input/new-york-city-taxi-fare-prediction/test.csv
/kaggle/input/new-york-city-taxi-fare-prediction/train.csv

# problem statement
### nyc taxi fare prediction

Given pickup and dropoff locations, the pickup timestamp, and the passenger count, the objective is to predict the fare of the taxi ride. this problem isn’t 100% reflective of those in industry, but it does present a realistic dataset and task on which we can hone our machine learning skills. To solve this problem, we’ll follow a standard data science pipeline plan of attack: Understand the problem and data Data exploration / data cleaning Feature engineering / feature selection Model evaluation and selection Model optimization Interpretation of results and predictions






# data used
## data is taken from kaggle dataset
### description of data is given below

#### Data fields

ID key - Unique string identifying each row in both the training and test sets. Comprised of pickup_datetime plus a unique integer, but this doesn't matter, it should just be used as a unique ID field. Not necessarily needed in the training set, 

### features

pickup_datetime - timestamp value indicating when the taxi ride started. 


pickup_longitude - float for longitude coordinate of where the taxi ride started. 


pickup_latitude - float for latitude coordinate of where the taxi ride started. 


dropoff_longitude - float for longitude coordinate of where the taxi ride ended. 

dropoff_latitude - float for latitude coordinate of where the taxi ride ended. 

passenger_count - integer indicating the number of passengers in the taxi ride.

Target fare_amount - float dollar amount of the cost of the taxi ride. This value is only in the training set;

In [4]:
data=pd.read_csv('../input/new-york-city-taxi-fare-prediction/train.csv',nrows=1000,parse_dates=['pickup_datetime'])
data.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24+00:00,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24+00:00,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44+00:00,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12+00:00,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12+00:00,-73.966046,40.789775,-73.988565,40.744427,1